{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Métodos de pago
        <small>Crear</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url('payment_method_index') }}">Métodos de pago</a></li>
        <li class="active">Crear</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
                {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
                {{ form_start(edit_form) }}
                    {{ form_widget(edit_form) }}
                    <input type="submit" class="btn btn-primary btn-block" value="Editar" />
                {{ form_end(edit_form) }}
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-2">
                        <a class="btn btn-primary btn-block" href="{{ path('payment_method_index') }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
                    </div>
                    <div class="col-lg-2">
                    {{ form_start(delete_form) }}
                        <a href="" id="delete_btn" class="btn btn-danger btn-block">Eliminar</a>
                    {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script>
    $('#delete_btn').on('click', function(evt) {
        evt.preventDefault();
        if (confirm("Seguro que desea eliminar este método de pago?"))
            $('form').submit();
        return;
    });
</script>
{% endblock %}
