{% extends 'base.html.twig' %}

{% block links %}
<link href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Métodos de pago
        <small>Lista</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Métodos de pago</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
    <table id="datatable" class="table table-bordered table-hover dataTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for payment_Method in payment_Methods %}
            <tr>
                <td><a href="{{ path('payment_method_show', { 'id': payment_Method.id }) }}">{{ payment_Method.id }}</a></td>
                <td>{{ payment_Method.name }}</td>
                <td>{% if payment_Method.createdAt %}{{ payment_Method.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if payment_Method.updatedAt %}{{ payment_Method.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <div>
                        <a href="{{ path('payment_method_show', { 'id': payment_Method.id }) }}"><i class="fa fa-eye"></i> Ver</a>
                    </div>
                    <div>
                        <a href="{{ path('payment_method_edit', { 'id': payment_Method.id }) }}"><i class="fa fa-pencil"></i> Editar</a>
                    </div>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fecha de creaci&oacute;n</th>
                <th>Fecha de actualizaci&oacute;n</th>
                <th>Acciones</th>
            </tr>
        </tfoot>
        </tbody>
    </table>
    <div class="row">
        <div class="col-lg-3">
            <a class="btn btn-primary btn-block" href="{{ path('payment_method_new') }}">Crear m&eacute;todo de pago</a>
        </div>
    </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script>
$(document).ready(function() {
    $('#datatable').DataTable({
        "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
        }
    });
} );
</script>
{% endblock %}