{% extends 'base.html.twig' %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Metodos de pago - {{ brand.name }} | {{ payment_method.name }}
        <small>Editar</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="{{ url('homepage') }}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="{{ url('brand_index') }}">Marcas</a></li>
        <li class="active">Métodos de pago</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="box box-primary">
            <div class="box-body">
            {{ form_start(edit_form) }}
                <div class="form-group">
                    <label class="control-label required" for="paymentbundle_brand_payment_commission">Comisi&oacute;n</label>
                    <input type="text" id="paymentbundle_brand_payment_commission" name="paymentbundle_brand_payment[commission]" required="required" class="form-control" value="{{ brand_Payment.commission }}">
                </div>
                {{ form_widget(edit_form._token) }}
                <input type="submit" class="btn btn-primary btn-block" value="Editar" />
            </form>
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-lg-12">
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-warning">
                            {{ flashMessage }} 
                        </div>
                    {% endfor %}
                    </div>
                    <div class="col-lg-2">
                        <a class="btn btn-primary btn-block" href="{{ path('brand_payment_index', { 'brand': brand.id }) }}"><i class="fa fa-arrow-left" aria-hidden="true"></i> Volver</a>
                    </div>
                    <div class="col-lg-2">
                    {{ form_start(delete_form) }}
                        <a href="" id="delete_btn" class="btn btn-danger btn-block">Eliminar</a>
                    {{ form_end(delete_form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock %}

{% block scripts %}
<script>
    $('#delete_btn').on('click', function(evt) {
        evt.preventDefault();
        if (confirm("Seguro que desea eliminar este método de pago?"))
            $('form').submit();
        return;
    });
</script>
{% endblock %}
